# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

smartthings
zigbee-template
lua_libs-api_v0
docs
lua_libs-api_v3_46X_beta
lua_libs-api_v0_OPEN_BETA_40x.tar.gz
node_modules
personal-tuya-devices/**/*.txt

# files generated automatically
README.md
personal-tuya-devices/README.md
personal-tuya-devices/config.yaml